<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThymeLeaf Edit</title>
</head>
<body>
    <form action="#" th:action="@{/handelForm}" th:object="${company}">
        Name:<input type="text" th:field="*{name}"/><br>
        <button type="submit">
            Submit
        </button>
    </form>
</body>
</html>